body{text-align:center;background-color:azure;font-family:Arial, Helvetica, sans-serif;font-size:16px;}
label{display:block;margin:0.5rem 0;}
form{margin:0 auto;max-width:400px;min-width:200px;width:70vw;text-align:left;padding:2em;}
fieldset{border:none;padding:1.5rem 0;border-bottom:1px solid black;}
fieldset:last-of-type{border-bottom:none;}
input,select{background-color:#686868;border:1px solid #686868;min-height:2em;color:white;margin:10px 0 0 0;width:100%;}

input[type="submit"]{display:block;width:60%;margin:0 auto;font-size:1.1rem;height:2em;background-color:rgb(1, 1, 65);min-width:300px;}
input[type="submit"]:hover{background-color:rgb(111, 111, 224);}
input[type="file"]{padding:1px 2px;}

.jk-keyboard .jk-clear{clear:both;}
.inline{width:unset;vertical-align:middle;margin:0 0.5em 0 0;}
.inline, a{color:rgb(1, 1, 65);}