*{margin:0;padding:0;}

body{text-align:center;background-color:azure;font-family:Arial, Helvetica, sans-serif;font-size:16px;}

main, textarea, .kr-keyboard{margin-top:40px;}

.kr-keyboard .kr-clear{clear:both;}

.kr-key{width:35px;}

button{margin:1px;}
